<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FlightTrackerApplication</display-name>
  <welcome-file-list>
    <welcome-file>/jsp/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.flighttracker.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.flighttracker.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.flighttracker.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CREditReservation</display-name>
    <servlet-name>CREditReservation</servlet-name>
    <servlet-class>com.flighttracker.CREditReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CREditReservation</servlet-name>
    <url-pattern>/CREditReservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CRUpdateReservation</display-name>
    <servlet-name>CRUpdateReservation</servlet-name>
    <servlet-class>com.flighttracker.CRUpdateReservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CRUpdateReservation</servlet-name>
    <url-pattern>/CRUpdateReservation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CRTickets</display-name>
    <servlet-name>CRTickets</servlet-name>
    <servlet-class>com.flighttracker.CRTickets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CRTickets</servlet-name>
    <url-pattern>/crTickets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileCustomer</display-name>
    <servlet-name>ProfileCustomer</servlet-name>
    <servlet-class>com.flighttracker.ProfileCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileCustomer</servlet-name>
    <url-pattern>/profileCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllReservationsCustomer</display-name>
    <servlet-name>ViewAllReservationsCustomer</servlet-name>
    <servlet-class>com.flighttracker.ViewAllReservationsCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllReservationsCustomer</servlet-name>
    <url-pattern>/viewAllReservationsCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewReservationCustomer</display-name>
    <servlet-name>ViewReservationCustomer</servlet-name>
    <servlet-class>com.flighttracker.ViewReservationCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReservationCustomer</servlet-name>
    <url-pattern>/viewReservationCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileAdmin</display-name>
    <servlet-name>ProfileAdmin</servlet-name>
    <servlet-class>com.flighttracker.ProfileAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileAdmin</servlet-name>
    <url-pattern>/profileAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileCustomerRep</display-name>
    <servlet-name>ProfileCustomerRep</servlet-name>
    <servlet-class>com.flighttracker.ProfileCustomerRep</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileCustomerRep</servlet-name>
    <url-pattern>/profileCustomerRep</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.flighttracker.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAircraft</display-name>
    <servlet-name>UpdateAircraft</servlet-name>
    <servlet-class>com.flighttracker.UpdateAircraft</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAircraft</servlet-name>
    <url-pattern>/updateAircraft</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAircraft</display-name>
    <servlet-name>DeleteAircraft</servlet-name>
    <servlet-class>com.flighttracker.DeleteAircraft</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAircraft</servlet-name>
    <url-pattern>/DeleteAircraft</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassword</display-name>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>com.flighttracker.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/forgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAirport</display-name>
    <servlet-name>DeleteAirport</servlet-name>
    <servlet-class>com.flighttracker.DeleteAirport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAirport</servlet-name>
    <url-pattern>/deleteAirport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAirport</display-name>
    <servlet-name>UpdateAirport</servlet-name>
    <servlet-class>com.flighttracker.UpdateAirport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAirport</servlet-name>
    <url-pattern>/updateAirport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RevenueSummary</display-name>
    <servlet-name>RevenueSummary</servlet-name>
    <servlet-class>com.flighttracker.RevenueSummary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RevenueSummary</servlet-name>
    <url-pattern>/revenueSummary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookFlight</display-name>
    <servlet-name>BookFlight</servlet-name>
    <servlet-class>com.flighttracker.BookFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookFlight</servlet-name>
    <url-pattern>/bookFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFlight</display-name>
    <servlet-name>DeleteFlight</servlet-name>
    <servlet-class>com.flighttracker.DeleteFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFlight</servlet-name>
    <url-pattern>/deleteFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFlight</display-name>
    <servlet-name>UpdateFlight</servlet-name>
    <servlet-class>com.flighttracker.UpdateFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFlight</servlet-name>
    <url-pattern>/updateFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>enterUserMakeRes</display-name>
    <servlet-name>enterUserMakeRes</servlet-name>
    <servlet-class>com.flighttracker.enterUserMakeRes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>enterUserMakeRes</servlet-name>
    <url-pattern>/enterUserMakeRes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CRMakeRes</display-name>
    <servlet-name>CRMakeRes</servlet-name>
    <servlet-class>com.flighttracker.CRMakeRes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CRMakeRes</servlet-name>
    <url-pattern>/CRMakeRes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowWaitlist</display-name>
    <servlet-name>ShowWaitlist</servlet-name>
    <servlet-class>com.flighttracker.ShowWaitlist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowWaitlist</servlet-name>
    <url-pattern>/showWaitlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerMostRevenue</display-name>
    <servlet-name>CustomerMostRevenue</servlet-name>
    <servlet-class>com.flighttracker.CustomerMostRevenue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerMostRevenue</servlet-name>
    <url-pattern>/customerMostRevenue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightMostSold</display-name>
    <servlet-name>FlightMostSold</servlet-name>
    <servlet-class>com.flighttracker.FlightMostSold</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightMostSold</servlet-name>
    <url-pattern>/flightMostSold</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllFlightsAirport</display-name>
    <servlet-name>AllFlightsAirport</servlet-name>
    <servlet-class>com.flighttracker.AllFlightsAirport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllFlightsAirport</servlet-name>
    <url-pattern>/allFlightsAirport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminReservationList</display-name>
    <servlet-name>AdminReservationList</servlet-name>
    <servlet-class>com.flighttracker.AdminReservationList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminReservationList</servlet-name>
    <url-pattern>/adminReservationList</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>AdminEachReservationDetails</display-name>
    <servlet-name>AdminEachReservationDetails</servlet-name>
    <servlet-class>com.flighttracker.AdminEachReservationDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEachReservationDetails</servlet-name>
    <url-pattern>/adminEachReservationDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalesReport</display-name>
    <servlet-name>SalesReport</servlet-name>
    <servlet-class>com.flighttracker.SalesReport</servlet-class>
 </servlet>
  <servlet-mapping>
    <servlet-name>SalesReport</servlet-name>
    <url-pattern>/salesReport</url-pattern>
    </servlet-mapping>
</web-app>